<!Doctype html>
<html>
  <head>
    <title>getting training at jovian</title>
    
  </head>

  <body>
    <h1>the purpose of trainning to get smart job</h1>
    <style>
      h1{
        font size : 20px
      }
    </style>
    <img src="https://my-project-python.praveenpandey77.repl.co/static/banner.jpg">height="320"
    <h2> about jovian </h2>
    <p> 
    API is the acronym for Application Programming Interface, which is a software intermediary that allows two applications to talk to each other. Each time you use an app like Facebook, send an instant message, or check the weather on your phone, you’re using an API.
    </p>

       
 
  </body>



  
</html>